/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-top: 102px;
  color: var(--text-color);
  background: var(--background-image);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 136px 0 15px 0;
  font-family: var(--font-family, "PressStart2P", fantasy);
  line-height: normal;
  text-transform: uppercase;
  margin-inline: auto;
  border: 2px solid var(--text-color, #000000);
  background: var(--background-color, #000000);
  max-inline-size: 696px;
  min-height: 364px;
  margin-bottom: 100px;
}

.h1 {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 22px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: grid;
  gap: 9px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
  inset-block-start: 0px;
}

.card__header {
  border-block-end: 2px solid var(--text-color, #000000);
  padding: 4px 10px;
  background: var(--background-color);
  font-family: var(--secondary-font-family);
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--headings-font-weight, 785);
}

.card__title {
  font-size: var(--font-size);
  line-height: normal;
  font-variation-settings: "wght" var(--headings-font-weight, 785);
}

.card {
  margin-inline: auto;
  border: 2px solid var(--text-color, #000000);
  background: var(--page-background-color, #ffffff);
  max-inline-size: 696px;
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}

.card__tag {
  position: absolute;
  z-index: 1;

  opacity: 0.5;

  color: var(--text-color, #000000);
  font-family: var(--page-accent-font-family, "PressStart2P", fantasy);

  font-size: 14px;
  line-height: normal;

  text-transform: uppercase;
  text-shadow: 0 0 1px var(--background-color, #ffffff);
  inset-inline-end: 13px;
  inset-block-start: 24px;

  mix-blend-mode: hard-light;
}