/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  padding-top: 102px;
  color: var(--text-color);
  background-image: var(--background-image, none);
  background-color: var(--background-color, #000000);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--font-weight, 465);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 134px 0 22px 0;
  font-family: var(--font-family, "PressStart2P", fantasy);
  line-height: normal;
  text-transform: uppercase;
  margin-inline: auto;
  border: 2px solid var(--text-color, #000000);
  background: var(--background-color, #000000);
  max-inline-size: 696px;
  margin-bottom: 101px;
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-bottom: 20px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-bottom: 23px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: grid;
  gap: 10px;
  padding-inline-start: 20px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  animation: arrow 0.5s ease-in-out infinite alternate;
  inset-inline-start: -20px;
  inset-block-start: 0px;
}

.card__header {
  border-bottom: 2px solid var(--text-color, #00cc14);
  padding: 4px 8px;
  background: var(--background-color, #000000);
  font-family: var(--secondary-font-family, "Inter", sans-serif);
  font-size: 18px;
  line-height: normal;
}

.card__title {
  font-size: var(--font-size , 18px);
  line-height: normal;
  font-variation-settings: "wght" var(--header-font-weight, 700);
}

.card {
  border: 2px solid var(--text-color, #000000);
  margin-inline: auto;
  background: var(--page-background-color, #ffffff);
  max-inline-size: 696px;
  margin: 0 auto 50px auto;
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__wrapper {
  position: relative;
  overflow: hidden;
}

.card__tag {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color, #000000);
  font-family: var(--font-family, "PressStart2P", fantasy);
  font-size: 14px;
  line-height: normal;
  text-shadow: 0 0 1px var(--background-color, #000000);
  inset-inline-end: 13px;
  inset-block-start: 24px;
  mix-blend-mode: hard-light;
} 

.card__footer {
  background: var(--background-color, #000000);
  display: flex;
  justify-content: end;
  align-items: stretch;
  padding: 25px 23px 26px 25px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color, #000000);
}

.card__like-button {
  cursor: pointer;
  position: relative;
  display: flex;
  width: 130px;
  height: 38px;
  padding: 9px 17px;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family, "PressStart2P", fantasy);
  border: 2px solid var(--contour-color, #00cc14);
  background-color: transparent;
  line-height: 90%;
  font-size: 14px;
  transition: 0.3s ease;
}

.card__icon-button {
  outline: none;
  height: 38px;
  border: 2px solid transparent;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
  margin-right: 4px;
  display: grid;
  padding: 0;
  background: transparent;
  cursor: pointer;
  appearance: none;
}


dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.floppy_image {
  width: 20px;
  height: 21px;
  margin-right: 9px;
  mix-blend-mode: difference;
  z-index: 10;
  color: var(--button-text-color, #00cc14);
}

.modal-floppy_image {
  mix-blend-mode: difference;
  z-index: 10;
  width: 90px;
  height: 40px;
  color: var(--button-text-color, #00cc14);
}

.modal-window {
  width: 357px;
  background-color: var(--background-color, #000000);
  font-family: var(--font-family, "PressStart2P", fantasy);
  text-transform: uppercase;
  font-size: 14px;
  padding: 32px 42px 32px;
  border: 2px solid var(--text-color, #00cc14);
}

.modal-window__text {
  display: block;
  margin-left: 20px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--text-color, #00cc14);
}

.button:focus {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--text-color, #00cc14);
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: var(--text-color, #00cc14);
  transition: 0.5s ease-in-out;
}

.button:hover:before {
  width: 100%;
}

.button__text {
  color: var(--button-text-color, #00cc14);
  mix-blend-mode: difference;
  z-index: 1;
}


.like-icon {
  block-size: 36px;
  inline-size: 39px;
}

.card__content {
  background: var(--background-color, #000000);
  font-family: var(--secondary-font-family, "Inter", sans-serif);
  font-size: var(--font-size, 18px);
  display: grid;
  gap: 27px;
  border-block-start: 2px solid var(--text-color, #000000);
  padding: 30px 30px 0 23px;
  line-height: calc(21 / 18);
}

.modal {
  border: 2px solid var(--text-color, #000000);
  padding: 25px 30px;
  font-size: 14px;
  color: var(--text-color, #000000);
  font-family: var(--font-family, "PressStart2P", fantasy);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--background-color, #ffffff);
  max-inline-size: 357px;
}

.save-button {
  cursor: pointer;
  position: relative;
  display: flex;
  margin: 0 auto 80px;
  width: 340px;
  height: 58px;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family, fantasy);
  border: 2px solid var(--text-color);
  font-size: 14px;
  line-height: 90%;
  background-color: var(--background-color);
  transition: 0.5s ease-in-out;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal__content {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modal__button {
  inline-size: 100%;
  position: relative;
  z-index: 1;
  border: 2px solid var(--text-color, #000000);
  padding: 10px 36px;
  font-family: var(--font-family, "PressStart2P", fantasy);
  font-size: 14px;
  text-transform: inherit;
  background: var(--background-color, #000000);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
  width: 293px;
}

.card__pic {
  width: 100%;
  display: block;
}

.filter-saturate {
  filter: saturate(30%);
}

.filter-satur-contr {
  filter: saturate(500%) contrast(100%) brightness(100%);
}

.filter-grayscale {
  filter: grayscale(100%) contrast(150%);
} 

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(10px);
}

.filter-hue-rotate {
  filter: hue-rotate(180deg) blur(1px);
}

@media (width < 376px) {
  .modal {
    width: 357px;
    padding: 32px 31px 32px;
  }

  .save-button {
    flex-direction: column;
    width: 306px;
    height: 83px;
    padding: 14px 0;
    justify-content: space-between;
  }
  
  .header__subtitle {
    margin-bottom: 23px;
  }

  .header {
    padding: 117px 0 22px 0;
  }
  
  .card__header {
    padding: 4px 10px;
  }

  .card__content {
    padding: 27px 30px 3px 25px;
  }

  .card__footer {
    padding: 21px 25px 25px 25px;
  }

  .floppy_image {
    width: 28px;
    height: 29px;
    margin-right: 0px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--background-color, #ffffff)) or
    (text-stroke: 1px var(--background-color, #ffffff))
) {
  .card__tag {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--background-color, #ffffff);
    text-stroke: 1px var(--background-color, #ffffff);
  }
}
