/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: "PressStart2P", fantasy;
  --secondary-font-family: "Inter", sans-serif;
  --background-color: #000000;
  --text-color: #00cc14;
  --font-size: 18px;
  
}